body {
  background: #ffc0cb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
  transition: background 1s;
}

.glow {
  background: #ff69b4;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
}

.btn-box {
  position: relative;
  height: 120px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#yes {
  background: hotpink;
  color: white;
}

#no {
  background: lightgray;
  position: absolute;
  left: 120px;
  top: 30px;
}

/* Bounce */
.bounce {
  animation: bounce 0.6s;
}
@keyframes bounce {
  0% { transform: scale(1); }
  30% { transform: scale(1.2); }
  60% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

/* Hearts */
.heart {
  position: fixed;
  bottom: 0;
  font-size: 22px;
  animation: floatUp 4s linear forwards;
}
@keyframes floatUp {
  to {
    transform: translateY(-700px);
    opacity: 0;
  }
}

/* Confetti */
.confetti {
  position: fixed;
  top: -10px;
  font-size: 20px;
  animation: fall 3s linear forwards;
}
@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

/* GIF */
#loveGif {
  display: none;
  width: 200px;
  margin-top: 20px;
}
